:root {
    --logo-size-small: 10em;
    --logo-size-medium: 12em;
    --logo-size-large: 15em;
}

.logo {
    cursor: pointer;
    background-color: rgb(0, 94, 170);
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    border-left: 5px solid rgba(0,0,0, 0.5);
    transition: 0.3s;
}

.logo img {
    height: 70%;
    width: 80%;
    margin-top: 15px;
}

.logo-size--large {
    height: var(--logo-size-large);
    width: var(--logo-size-large);
}

.logo-size--large:hover {
    height: calc(var(--logo-size-large) + 0.5em);
    width: calc(var(--logo-size-large) + 0.5em);
}

.logo-size--medium {
    height: var(--logo-size-medium);
    width: var(--logo-size-medium);
}

.logo-size--medium:hover {
    height: calc(var(--logo-size-medium) + 0.3em);
    width: calc(var(--logo-size-medium) + 0.3em);
}

.logo-size--small {
    height: var(--logo-size-small);
    width: var(--logo-size-small);
}

.logo-size--small:hover {
    height: calc(var(--logo-size-small) + 0.2em);
    width: calc(var(--logo-size-small) + 0.2em);
}